name: Terraform Infrastructure

on:
  push:
    branches: [main]

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: Terraform Apply (infra only)
        working-directory: terraform
        env:
          TF_VAR_project_id: ${{ secrets.GCP_PROJECT_ID }}
        run: terraform apply -auto-approve
